
/* TODOS LOS HTML COMPARTEN ESTA MISMA HOJA DE ESTILOS CSS */

/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


header {
    background: hsl(244, 84%, 42%);
    padding: 10px 0;
    text-align: center;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav ul { 
    background-image: url(../img/charlylogo.png);
    background-repeat: no-repeat;
    list-style: none;
    margin: 0%;
    padding: 10px;
    margin-top: 10px;
    justify-content: space-evenly;
    display: flex;
    text-align: center;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

nav ul li a:hover{
    background-color: #2339ff;
    color: #ffffff;
    border-radius: 5px;
}

a {
    color: #333;
    text-decoration: none;
}

@media (min-width: 1280px) {
    main {
        width: 80%;
        margin: 0 auto;
    }
}

h1, h2, h3 {
    color: #333;
}



/* INDEX */

#index_body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: auto;
    background: rgb(0, 0, 241);
    background-image: url('../img/CG-fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#index_main {
    margin-top: 100px;
    padding: 20px;
    width: auto;
    height: auto;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#index_footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    bottom: 0;
    left: 0;
    width: 100%;
}

#index_article {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: auto;
    height: auto;
    box-shadow: #333 5px 5px 5px 5px;
}

section {
    margin-bottom: 30px;
    align-items: center;
    box-shadow: #333 5px 5px 5px 5px;
}

#h1 {
    text-align: center;
    font-size: 65px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#h2-1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

#h2-2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


.biografia {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#charly {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    float: right;
}

#charly2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    float: left;
}


.biografia p {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.genero {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: auto;
}

.genero p {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.galeria {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    gap: 10px;
}

.galeria img {
    width: 330px;
    height: 230px;
    border-radius: 10px;
    margin: 40px;
}

.galeria img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.biografia, #Galeria {
    scroll-margin-top: 300px;
}



/* DISCOGRAFIA */

#discografia_body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: auto;
    background: rgb(0, 0, 196);
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    align-items: center;
    padding: 10px;
}

#discografia_main {
    margin-top: 60px; 
    padding: 20px;
}

#discografia_footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    bottom: 0;
    left: 0;
    width: 100%;
}

#discografia_h1 {
    text-align: center;
    font-size: 65px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#discografia_h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#discografia_h3-1 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#discografia_h3-2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#discografia_h3-3 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#discografia_h3-4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#discografia_h3-yt {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#discografia_h3-spo {
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}
.discografia_article {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    padding-left: 50px;
    margin-bottom: 20px;
    align-items: center;
}

.discografia_article p {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.discografia_article ol {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

#spotify {
    border-radius: 10px;
    width: 100%;
    height: 500px;
    border: none;
    text-align: center;
    margin: 0 auto; 
    display: block; 
}

#youtube {
    border-radius: 10px;
    width: 100%;
    height: 1080px;
    border: none;
    text-align: center;
}




/* FORMULARIO */

#form_body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(0, 0, 196);
}

#form_main {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
}

#form_footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.title {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: black url('../img/charly.garcia.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
}

.title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.title h2 {
    position: relative;
    z-index: 1;
    color: #fff;
}

.content {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 20px;
    font-size: 1.1em;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    position: relative;
    width: 100%;
}

.content p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content label {
    display: block;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 5px;
}

.form-contact {
    margin-top: 20px;
}

.controls {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.files{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.buttons {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

#accept {
    font-size: 12px;
    margin-bottom: 10px;

}



/* GRACIAS */

#gracias_body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: auto;
    background: rgb(0, 0, 196);;
    background-image: url('../img/CG-fondo3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

#gracias_main {
        margin-top: 60px; 
        padding: 20px;
}

#gracias_section {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#gracias_h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    box-shadow: #333 5px 5px 5px 5px;
    margin-bottom: 20px;
    width: auto;
    height: auto;
}

#gracias_footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}



/* MEDIA QUERY PARA DISCOGRAFIA */
@media screen and (max-width: 480px) { 
    #discografia_body {
        width: 100%;
        align-items: center;
        justify-content: column;
    }

    nav ul li a {
        justify-content: center;
        align-items: baseline;
        font-size: 13px;
        margin-top: 10px;
    }

    nav ul {
        justify-content: space-between;
        background-size: 55px;
        background-position: top;
    }

    #youtube {
        max-width: 100%;
        height: auto;   
        text-align: center;
        padding: 10px;
    }

    #spotify {
        max-width: 100%;
        height: auto;
        margin: 0%;
        display: block;
    }

    .discografia_article {
        padding-left: 50px;
        margin-bottom: 20px;
        display: block;
        align-items: center;
    }

    #discografia_h1 {
        font-size: 30px;
        margin-bottom: 5px;
    }

    #discografia_h2 {
        font-size: 25px;
    }

    #discografia_h3-1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .discografia_article p {
        font-size: 13px;
    }

    .discografia_article ol {
        font-size: 15px;
    }
}

